a {
  text-decoration: none !important;
}

.item .item-name {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-device-width: 480px) {

  .item {
    display: inline-block;
  }

  .item .item-name {
    font-size: 1.5em;
    line-height: 1.6em;
  }
}

@media only screen and (min-device-width: 480px) {

  .item .item-delete-button {
    display: none;
  }

  .item:hover .item-delete-button {
    display: inline-block;
  }

  .list .list-edit-button {
    visibility: hidden;
  }

  .list:hover .list-edit-button {
    visibility: visible;
  }
}

@media only screen and (min-device-width: 720px) {

  .item-list-fixed {
    column-width: 210px;
    column-gap: 20px;
    column-fill: auto;
    height: calc(100vh - 180px);
  }
}